.table-view-cell {
	padding: 11px 15px 11px 15px;
}

.positive {
	color: red;
}

.negative {
	color: green;
}

.entry-table-left {
	float:left;
	width: 50%;
}

.entry-table-center {
	float:left;
	width: 25%;
}

.entry-table-right {
	float:left;
	width: 25%;
	text-align: right;
}

#weightDifference {
    width: 100%;
    margin: auto;
    text-align: center;
}
/* We target the top of the order list and remove the list properties. */
 #difference li {
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 10%;
    vertical-align: center;
}

 #difference ol {
 	vertical-align: center;
 }
/* We target the li items with and without a hyper link and color the font white. */
#difference li, #difference li a {
    text-decoration: none;
	color: #000;
}