<template name="sidebar">
  <div class="sidebar">
    <ul class="table-view">
      <li class="table-view-cell media">
        <a class="navigate-right">
          <img class="media-object pull-left" src="http://placehold.it/42x42">
          <div class="media-body">
            Username Place Holder
            <p>View your Profile.</p>
          </div>
        </a>
      </li>
    </ul>
    <ul class="table-view">
      <li class="table-view-cell media">
        <a class="navigate-right icon-weight">
          <span class="media-object pull-left icon icon-pages"></span>
          <div class="media-body">
            Weight
          </div>
        </a>
      </li>
    </ul>
  </div>
</template>